<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "dashboard" %>

<div class="container">
  <h1 class="page-header">Create a scheduled transaction</h1>
  <h4><i>Cash rules everything around me, CREAM, get the money, dwolla dwolla bill ya'll.</i></h4>
  <br>
  <div class="row">
    <div class="col-md-1">
      <!-- For lazy pagination -->
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>New</b>
        </div>
        <div class="panel-body">
          <%= form_for(:scheduled, :url => {:controller => 'dashboard', :action => 'process_scheduled'}) do |f| %>
            <p>Dwolla ID or E-Mail:</br> <%= f.text_field :destinationId, class: 'form-control', :placeholder => '812-XXX-XXXX or E-Mail' %></p>
            <p>Amount:</br> <%= f.text_field :amount, class: 'form-control' %> </p>
            <p>Funding Source:</br><%= f.collection_select :fundsSource, @fs, :last, :first %></p>
            <p>Scheduled Date:</br> <%= f.text_field :scheduleDate, class: 'form-control', :placeholder => 'YYYY-MM-DD' %> </p>
            <p>PIN:</br> <%= f.password_field :pin, size: 4, class: 'form-control' %> </p>
        </div>
        <div class="panel-footer">
          <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <!-- For lazy pagination -->
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Recurring?</b>
          <p><h6>Leave me blank if you do not wish to recur payment</h6></p>
        </div>
        <div class="panel-body">
          <%= f.check_box :mon, { checked: 0 } %> Mon <br/>
          <%= f.check_box :tue, { checked: 0 } %> Tue <br/>
          <%= f.check_box :wed, { checked: 0 } %> Wed <br/>
          <%= f.check_box :thu, { checked: 0 } %> Thu <br/>
          <%= f.check_box :fri, { checked: 0 } %> Fri <br/>
          <%= f.check_box :sat, { checked: 0 } %> Sat <br/>
          <%= f.check_box :sun, { checked: 0 } %> Sun <br/>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1">
      <!-- For lazy pagination -->
    </div>
  </div>
</div>