<div class="container">
  <h1 class="page-header">Edit a scheduled transaction</h1>
  <h4><i>Cash rules everything around me, CREAM, get the money, dwolla dwolla bill ya'll.</i></h4>
  <br>
  <div class="row">
    <div class="col-md-3">
      <!-- For lazy pagination -->
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Edit</b>
        </div>
        <div class="panel-body">
          <%= form_for(:scheduled, :url => {:controller => 'dashboard', :action => 'process_scheduled'}) do |f| %>
            <%= f.hidden_field :Id, :value => @transaction['Id'] %>
            <p>Destination ID:</br> <%= f.text_field :destinationId, :value => @transaction['Destination']['Id'], class: 'form-control' %></p>
            <p>Amount:</br> <%= f.text_field :amount, :value => @transaction['Amount'], class: 'form-control' %> </p>
            <p>Funding Source:</br><%= f.collection_select :fundsSource, @fs, :last, :first %></p>
            <p>Scheduled Date:</br> <%= f.text_field :scheduleDate, :value => @transaction['ScheduledDate'], class: 'form-control' %> </p>
            <p>PIN:</br> <%= f.password_field :pin, size: 4, class: 'form-control' %> </p>
        </div>
        <div class="panel-footer">
          <%= f.submit "Edit", class: "btn btn-primary" %>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- For lazy pagination -->
    </div>
  </div>
</div>
